// 默认响应式尺寸
:root
  --length-unit: 1px // 根据不同屏幕阅读距离即时调整
  --length-ssss: calc(var(--length-unit) * 2)
  --length-sss : calc(var(--length-unit) * 4)
  --length-ss  : calc(var(--length-unit) * 8)
  --length-s   : calc(var(--length-unit) * 12)
  --length-m   : calc(var(--length-unit) * 16) // 标准格子尺寸
  --length-l   : calc(var(--length-unit) * 24)
  --length-ll  : calc(var(--length-unit) * 32)
  --length-lll : calc(var(--length-unit) * 48)
  --length-llll: calc(var(--length-unit) * 64)
