/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display block
body
  line-height 1
ol, ul
  list-style none
blockquote, q
  quotes none
blockquotebefore, blockquoteafter,
qbefore, qafter
  content ''
  content none
table
  border-collapse collapse
  border-spacing 0

*
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

  -webkit-overflow-scrolling touch
  box-sizing border-box
  -webkit-font-smoothing antialiased
  // -webkit-appearance none
  appearance none
  -moz-osx-font-smoothing grayscale
  border none
  outline none

img
  vertical-align middle
  display inline-block
  object-fit cover
  line-height 0
a
  text-decoration none
  cursor pointer
  color unset
