.theme-default
  // Normal -- gray
  --normal-0: #252627
  --normal-1: #45484A
  --normal-2: #66696C
  --normal-3: #84888A
  --normal-4: #9FA4A6
  --normal-5: #B8BDBE
  --normal-6: #CDD3D3
  --normal-7: #DEE3E3
  --normal-8: #EBEFEF
  --normal-9: #F3F6F6

  // Primary -- blue
  --primary-0: #f6effc//#091532
  --primary-1: #dbb9f9//#102952
  --primary-2: #bf84f3//#204571
  --primary-3: #a558e9//#3B698F
  --primary-4: #8d35db//#618FA9
  --primary-5: #771cc8//#85B1C2
  --primary-6: #610baf//#A1CCD6
  --primary-7: #4c0290//#BCE3E7
  --primary-8: #38006b//#D1F3F4
  --primary-9: #240045//#E1FEFC

  // Succeed -- green
  --succeed-0: #07331F
  --succeed-1: #106133
  --succeed-2: #1D873F
  --succeed-3: #32A349
  --succeed-4: #4CB756
  --succeed-5: #6DC96A
  --succeed-6: #96DA8A
  --succeed-7: #B6E8A4
  --succeed-8: #CFF5B9
  --succeed-9: #E2FFC6

  // Danger -- red
  --danger-0: #340707
  --danger-1: #5E130F
  --danger-2: #83291D
  --danger-3: #A54A36
  --danger-4: #C1725A
  --danger-5: #D59A81
  --danger-6: #E3B79F
  --danger-7: #EECDB7
  --danger-8: #F7DEC9
  --danger-9: #FFECD6

  // Caution -- yellow
  --caution-0: #fcfaef //#341D04
  --caution-1: #f9ebb9 //#5F3C0B
  --caution-2: #f3da84 //#866019
  --caution-3: #e9c658 //#A2802E
  --caution-4: #dbb135 //#BAA04A
  --caution-5: #c8991c //#CFBD68
  --caution-6: #af7e0b //#E0D78A
  --caution-7: #906002 //#EEEBA8
  --caution-8: #6b4400 //#F6F7C0
  --caution-9: #452900 //#FBFFD6

// Scene Classes

// background
.b-0
  background var(--clr-b-0)
.b-1
  background var(--clr-b-0)
.b-2
  background var(--clr-b-0)
// content
.c-0
  color var(--clr-c-0)
.c-1
  color var(--clr-c-1)
.c-2
  color var(--clr-c-2)

// scene -- normal
.scene-normal
  // background
  --clr-b-0: white
  --clr-b-1: var(--normal-9)
  --clr-b-2: var(--normal-8)
  // content
  --clr-c-0: var(--normal-9)
  --clr-c-1: var(--normal-7)
  --clr-c-2: var(--normal-5)

// scene -- reverse
.scene-reverse
  // background
  --clr-b-0: black
  --clr-b-1: var(--normal-0)
  --clr-b-2: var(--normal-1)
  // content
  --clr-c-0: white
  --clr-c-1: var(--normal-8)
  --clr-c-2: var(--normal-6)

// scene -- primary
.scene-primary
  // background
  --clr-b-0: var(--primary-9)
  --clr-b-1: var(--primary-8)
  --clr-b-2: var(--primary-7)
  // content
  --clr-c-0: var(--primary-0)
  --clr-c-1: var(--primary-2)
  --clr-c-2: var(--primary-4)

// scene -- succeed
.scene-succeed
  // background
  --clr-b-0: var(--succeed-9)
  --clr-b-1: var(--succeed-8)
  --clr-b-2: var(--succeed-7)
  // content
  --clr-c-0: var(--succeed-0)
  --clr-c-1: var(--succeed-2)
  --clr-c-2: var(--succeed-4)

// scene -- danger
.scene-danger
  // background
  --clr-b-0: var(--danger-9)
  --clr-b-1: var(--danger-8)
  --clr-b-2: var(--danger-7)
  // content
  --clr-c-0: var(--danger-0)
  --clr-c-1: var(--danger-2)
  --clr-c-2: var(--danger-4)

// scene -- caution
.scene-caution
  // background
  --clr-b-0: var(--caution-9)
  --clr-b-1: var(--caution-8)
  --clr-b-2: var(--caution-7)
  // content
  --clr-c-0: var(--caution-0)
  --clr-c-1: var(--caution-2)
  --clr-c-2: var(--caution-4)
