$length-unit = 16px

$length-ssss = $length-unit * 0.25
$length-sss  = $length-unit * 0.375
$length-ss   = $length-unit * 0.5
$length-s    = $length-unit * 0.75
$length-m    = $length-unit * 1.25
$length-l    = $length-unit * 2
$length-ll   = $length-unit * 3.25
$length-lll  = $length-unit * 5.25
$length-llll = $length-unit * 8.5

:root
  --length-unit: $length-unit
  --length-ssss: calc(--length-unit * 0.25)
  --length-sss : calc(--length-unit * 0.375)
  --length-ss  : calc(--length-unit * 0.5)
  --length-s   : calc(--length-unit * 0.75)
  --length-m   : calc(--length-unit * 1.25)
  --length-l   : calc(--length-unit * 2)
  --length-ll  : calc(--length-unit * 3.25)
  --length-lll : calc(--length-unit * 5.25)
  --length-llll: calc(--length-unit * 8.5)
