// value
:root
  --radius-s: 2px
  --radius-m: 4px
  --radius-l: 8px
  --radius-ll: 12px

// class
.radius-s
  border-radius var(--radius-s)
.radius-m
  border-radius var(--radius-s)
.radius-l
  border-radius var(--radius-s)
.radius-xl
  border-radius var(--radius-s)
.radius-pill
  border-radius 99999rem
.radius-oval
  border-radius 100%
