// value
:root
  --shadow-s: 0 2px 8px -2px alpha(black, 0.25)
  --shadow-m: 0 4px 16px -4px alpha(black, 0.25)
  --shadow-l: 0 8px 32px -8px alpha(black, 0.25)
  --shadow-ll: 0 16px 64px -16px alpha(black, 0.25)

// class
.shadow-s
  box-shadow var(--shadow-s)
.shadow-m
  box-shadow var(--shadow-m)
.shadow-l
  box-shadow var(--shadow-l)
.shadow-ll
  box-shadow var(--shadow-ll)
