// title
.t-0
  font-size   calc(var(--length-unit) * 32)
  line-height calc(var(--length-unit) * 28)
.t-1
  font-size   calc(var(--length-unit) * 24)
  line-height calc(var(--length-unit) * 28)
.t-2
  font-size   calc(var(--length-unit) * 20)
  line-height calc(var(--length-unit) * 24)

// paragraph
.p-0
  font-size   calc(var(--length-unit) * 16)
  line-height calc(var(--length-unit) * 24)
.p-1
  font-size   calc(var(--length-unit) * 12)
  line-height calc(var(--length-unit) * 20)
.p-2
  font-size   calc(var(--length-unit) * 10)
  line-height calc(var(--length-unit) * 16)

// Utility

.ellipsis
    // truncate text if it exceeds container
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

